---
title: Plurality/system info
metadata:
    description: For those that are interested about what's going on in this noggin.
---

{% extends "src/website/_layouts/layout.njk" %}

{% block main %}
    
{% endblock %}