---
title: 404 - Page not found
permalink: /404.html
eleventyExcludeFromCollections: true
---

{% extends "./_layouts/layout.njk"%}

{% block head %}
  
{% endblock %}
    
{% block header %}
  
{% endblock %}

{% block main %}
  <h1>Oh no! Looks like you got lost!</h1>
  <p>Better go back to <a href={{ '/' | url }}>the main page!</a></p>
{% endblock %}

{% block footer %}
  
{% endblock %}
    

