.pageBody {
    font-family: var(--font-main);
    font-size: var(--size-0);
    font-size: var(--size-0);
    font-feature-settings: "onum";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
