<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to our webbed site!</title>
    <link href="/assets/styles/main.css" rel="stylesheet" type="text/css" media="all">
  </head>
  <body>
    <header>
        <img class="kyrBannerImage" src="" alt="">
        <ul class="kyrHeaderButtons">
          <li>

          </li>
        </ul>
    </header>
  </body>
</html>
